/*Small devices known as the 'sm' breakpoint (landscape phones, 576px and up)
@media (min-width: 576px) {

 },

/*Medium devices known as the 'md' breakpoint (tablets, 768px and up)
@media (min-width: 768px) {

 },

/* Large devices known as the 'lg' breakpoint (desktops, 992px and up)
@media (min-width: 992px) { 

},

/* Extra large devices known as the 'xl' breakpoint (large desktops, 1200px and up)
@media (min-width: 1200px) { 

},
*/

img {
    width: 500px;
    height: auto;
}

@media (max-width: 576px) {
    img {
        display: flex;
        width: 250px;
        height: auto;
    }
}
